body {
     font-size: 16pt;
     font-family: 'Montserrat Alternates', sans-serif;
     text-align: justify;
}

.accueil {
     text-align: center;
     width: 70%;
     margin: 0 auto;
}

a {
     text-decoration: none;
     color: rgb(255, 0, 119);
     transition: all .4s;
}

a:hover {
     color: rgb(150, 0, 70);
}

h1, h2, h3,
h4, h5, h6 {
     font-family: 'Caveat', cursive;
     font-weight: 300;
}

h1 { 
     font-size: 95px;
}

h2 {
     font-size: 50px;
}

h3 {
     font-size: 30px;
     font-weight: 700;
}

h4 {
     font-size: 24px;
     font-weight: 700;
}

.content {
     width: 80%;
     border-bottom: 1px solid black;
     margin: 0 auto;
     margin-bottom: 20px;
}

.content-texte{
     display: flex;
     margin: 20px
}

.texte {
     width: 90%;
}

.delete img {
     transform: translatey(-50%);
     width: 25px;
     cursor: pointer;
}

.center {
     text-align: center;
}

.flex{
     display: flex;
}

textarea {
     resize: none;
     height: 20vh;
}

input, textarea {
     width: 50%;
     padding: 10px;
     margin-top: 25px;
}

form {
     margin-top: 50px;
}

button {
     cursor: pointer;
     font-family: 'Caveat', cursive;
     font-weight: 300;
     text-transform: uppercase;
     font-size: 30px;
}

.display-none {
     display: none;
}

.container-button{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     margin-left: 100px;
}

.hide-comment{
     opacity: 50%;
     color: grey;
}

.form-login{
     margin: 100px 0;
}

.form-register{
     margin-bottom: 100px;
}

.form-login, .form-register, .form-login input, .form-register input{
     width: 100%;
}

.form-login input[type=submit], .form-register input[type=submit]{
     width: 50%;
}

.container-form{
     width: 25%;
     margin: auto;
}

.form-login h2, .form-register h2{
     margin-bottom: 10px;
     text-align: center;
}

.label-roles{
     margin: 40px 30px 40px 0;
}

.container{
     width: 50%;
     margin: auto;
}

.container h2 {
     text-align: center;
}

.container form div input{
     width: 100%;
}


select{
     display: block;
     margin-top: 100px;
     padding: 10px;
     width: 150px;
}
